{
  "openapi": "3.1.0",
  "info": {
    "title": "Deplio",
    "version": "2024-02-26"
  },
  "servers": [
    {
      "url": "https://api.depl.io"
    }
  ],
  "paths": {
    "/version": {
      "get": {
        "tags": [
          "Versions"
        ],
        "summary": "Get API versions",
        "description": "Retrieve the latest version of the API, along with your current version and (if using a team API key) your team's API version.",
        "operationId": "get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "deplio-version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "examples": [
                "2024-02-26"
              ],
              "default": "2024-02-26",
              "title": "Deplio-Version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API versions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Versions"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated party does not have permission to perform the requested action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/q": {
      "get": {
        "tags": [
          "Q"
        ],
        "summary": "List Deplio Q messages",
        "description": "Get a list of messages that have been sent to Deplio Q and their responses (if any).",
        "operationId": "list",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Page Size"
            }
          },
          {
            "name": "deplio-version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "examples": [
                "2024-02-26"
              ],
              "default": "2024-02-26",
              "title": "Deplio-Version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages and their responses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated party does not have permission to perform the requested action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Q"
        ],
        "summary": "Send messages to Deplio Q",
        "description": "Send messages to Deplio Q to be processed asynchronously.",
        "operationId": "send",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "messages",
            "in": "query",
            "required": true,
            "schema": {
              "anyOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/QMessage"
                    }
                  ],
                  "title": "Message"
                },
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QMessage"
                  },
                  "maxItems": 10,
                  "title": "Messages"
                }
              ],
              "title": "Messages"
            }
          },
          {
            "name": "deplio-version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "examples": [
                "2024-02-26"
              ],
              "default": "2024-02-26",
              "title": "Deplio-Version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of request IDs and number of messages delivered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostQMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "The request was not authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated party does not have permission to perform the requested action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "An internal error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DeplioError": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message"
          },
          "data": {
            "title": "Data",
            "type": "object"
          },
          "timestamp": {
            "type": "string",
            "title": "Timestamp"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "DeplioError"
      },
      "DeplioWarning": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message"
          },
          "data": {
            "title": "Data",
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "DeplioWarning"
      },
      "ErrorResponse": {
        "properties": {
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/DeplioWarning"
            },
            "type": "array",
            "title": "Warnings"
          },
          "message": {
            "type": "string",
            "title": "Message"
          },
          "errors": {
            "items": {
              "$ref": "#/components/schemas/DeplioError"
            },
            "type": "array",
            "title": "Errors"
          }
        },
        "type": "object",
        "required": [
          "warnings",
          "message",
          "errors"
        ],
        "title": "ErrorResponse"
      },
      "GetQMessagesResponse": {
        "properties": {
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/DeplioWarning"
            },
            "type": "array",
            "title": "Warnings"
          },
          "requests": {
            "items": {
              "$ref": "#/components/schemas/QRequestWithResponses"
            },
            "type": "array",
            "title": "Requests"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "page": {
            "type": "integer",
            "title": "Page"
          },
          "page_size": {
            "type": "integer",
            "title": "Page Size"
          }
        },
        "type": "object",
        "required": [
          "warnings",
          "requests",
          "count",
          "total",
          "page",
          "page_size"
        ],
        "title": "GetQMessagesResponse"
      },
      "HTTPMethod": {
        "type": "string",
        "enum": [
          "GET",
          "POST",
          "PUT",
          "DELETE",
          "PATCH"
        ],
        "title": "HTTPMethod"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "PostQMessagesResponse": {
        "properties": {
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/DeplioWarning"
            },
            "type": "array",
            "title": "Warnings"
          },
          "request_ids": {
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "type": "array",
            "title": "Request Ids"
          },
          "messages_delivered": {
            "type": "integer",
            "title": "Messages Delivered"
          }
        },
        "type": "object",
        "required": [
          "warnings",
          "request_ids",
          "messages_delivered"
        ],
        "title": "PostQMessagesResponse"
      },
      "QMessage": {
        "properties": {
          "destination": {
            "type": "string",
            "minLength": 1,
            "format": "uri",
            "title": "Destination"
          },
          "body": {
            "title": "Body",
            "type": "string"
          },
          "method": {
            "$ref": "#/components/schemas/HTTPMethod"
          },
          "headers": {
            "title": "Headers",
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          }
        },
        "type": "object",
        "required": [
          "destination",
          "method"
        ],
        "title": "QMessage"
      },
      "QRequestWithResponses": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "deleted_at": {
            "title": "Deleted At",
            "type": "string",
            "format": "date-time"
          },
          "team_id": {
            "type": "string",
            "format": "uuid",
            "title": "Team Id"
          },
          "api_key_id": {
            "type": "string",
            "format": "uuid",
            "title": "Api Key Id"
          },
          "destination": {
            "type": "string",
            "minLength": 1,
            "format": "uri",
            "title": "Destination"
          },
          "method": {
            "$ref": "#/components/schemas/HTTPMethod"
          },
          "body": {
            "title": "Body",
            "type": "string"
          },
          "headers": {
            "title": "Headers",
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "query_params": {
            "title": "Query Params",
            "type": "object"
          },
          "responses": {
            "items": {
              "$ref": "#/components/schemas/QResponse"
            },
            "type": "array",
            "title": "Responses"
          }
        },
        "type": "object",
        "required": [
          "id",
          "created_at",
          "deleted_at",
          "team_id",
          "api_key_id",
          "destination",
          "method",
          "body",
          "headers",
          "query_params",
          "responses"
        ],
        "title": "QRequestWithResponses"
      },
      "QResponse": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "deleted_at": {
            "title": "Deleted At",
            "type": "string",
            "format": "date-time"
          },
          "request_id": {
            "type": "string",
            "format": "uuid",
            "title": "Request Id"
          },
          "status_code": {
            "title": "Status Code",
            "type": "integer"
          },
          "body": {
            "title": "Body",
            "type": "string"
          },
          "headers": {
            "title": "Headers",
            "additionalProperties": {
              "type": "string"
            },
            "type": "object"
          },
          "response_time_ns": {
            "title": "Response Time Ns",
            "type": "integer"
          }
        },
        "type": "object",
        "required": [
          "id",
          "created_at",
          "deleted_at",
          "request_id",
          "status_code",
          "body",
          "headers",
          "response_time_ns"
        ],
        "title": "QResponse"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "Versions": {
        "properties": {
          "latest": {
            "type": "string",
            "format": "date",
            "title": "Latest"
          },
          "current": {
            "title": "Current",
            "type": "string",
            "format": "date"
          },
          "team": {
            "title": "Team",
            "type": "string",
            "format": "date"
          }
        },
        "type": "object",
        "required": [
          "latest",
          "current",
          "team"
        ],
        "title": "Versions"
      }
    },
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "description": "Bearer token for authentication",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Q",
      "description": "**Deplio Q** is an asynchronous message queue for serverless applications. It allows you to send messages to be processed by your serverless functions."
    },
    {
      "name": "Versions",
      "description": "Operations related to **Deplio** API versions."
    }
  ]
}
